.button {
    width: 211px;
    height: 55px;
    background: #fe5f1e;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.white {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    color: #000;
}
